aside.logo{
    background-color: #1A2F3A;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside.logo img{
    padding: 0px 15px;
    width: 100%;
}   
@media(max-width: 776px){
    aside.logo img{
        width: 350px;
        height: 80px;
    }
}