footer.footer{
    background-color: #EEE;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}
.footer-endereco{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: center;
    padding: 15px;
}
.footer-contato{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: center;
    padding: 15px;
}
.footer-func{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: center;
    padding: 15px;
}
.assinatura{
    right: 0;
    align-self: flex-end;
    font-size: 0.8rem;
    position: absolute;
    
}
