header.header{
    background-color: #1A2F3A;
    color: #f5f5f5;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    
}
.nav a{
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0px 15px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.nav a:hover{
    text-decoration: none;
    color: #F9F9F9;
    background-color: rgba(0, 0, 0, 0.2);
}
.link-orcamento{
    margin: 25px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}
